#contacts img {
  width:100%;
}

#contacts img.online {
  border:2px solid greenyellow;
}

#contacts img.offline {
  border:2px solid grey;
}

ul#contacts li {
  padding-bottom:5%;
  display:flex;
  align-items:center;
}

ul#contacts li a {
  float:left;
}

.onlineWrapper {
  position:relative;
  width:25%;
  float:left;
  margin-right:5%;
}


.onlineWrapper i {
  position:absolute;
  bottom:0;
  color:#FFF;
  left:50%;
  top:73%;
}

section#left_sidebar.minified #iconWrapper, section#left_sidebar.minified ul#contacts li span {
  display:none;
}

section#left_sidebar.minified ul#contacts li .onlineWrapper {
  width:100%;
  float:none;
  text-align:center;
}

section#left_sidebar.minified ul#contacts {
  margin-top:80%;
}

section#left_sidebar.minified ul#contacts li a img {
  width:80%;
}

section#left_sidebar.minified ul#contacts li a {
  width:100%;
  text-indent:0%;
}

section#left_sidebar.minified .addWrapper {
  display:none;
}