@import "colors.less";
@import "NotificationBar";

body, html {
    padding: 0;
    margin: 0;
    height:100%;
    width:100%;
}

body {
	height:100%;
	width:100%;
}

.clear {
	clear:both;
}

.marginLeft {
	margin-left:2%;
}

div.page-header {
	padding-left:5%;
	
}

#content, .wrapper {
    min-height: 100%;
    min-width: 100%;
	height:100%;
	width:100%;
}

.login {
    background-color: @cape-honey;
    padding: 2.5em;
    border-radius: 0.5em;
}


#videos video {
	float:left;
	width:65%;
}

#videos input {
	margin-bottom:2%;
	outline:none;
	position:fixed;
	bottom:0%;
	left:24%;
	z-index:2;
}

 video#localVideo {
	width:20%;
	position:fixed;
	bottom:5%;
	right:5%;
}

 div#login_wrapper {
	 width:100%;
	 height:100%;
	 background:url("../img/login_bg.png") no-repeat;
	 background-size:cover;
 }

section#left_sidebar {
	width:20%;
	float:left;
	min-height:100%;
	height:100%;
	position:fixed;
	background: #2d2d2d;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

section#chatContent #topBar {
	margin-top:3%;
}

section.minified {
	width:5% !important;
	min-width:50px !important;
}

section.minified #contactWrapper, section.minified #roomWrapper, section.minified span#log_out {
	display:none;
}

#logout {
    z-index: 2;
}


section#left_sidebar h1 {
	color:#FFF;
	font-size:1.1em;
	background:#1d1d1d;
	padding-top:7%;
	padding-bottom:7%;
	text-indent:5%;
}


section#left_sidebar a#logout {
	text-indent:0%;
	width:100%;
	position:absolute;
	border-radius:0;
	bottom:0%;
	padding-top:5%;
	padding-bottom:5%;

}

section#left_sidebar input.newElement {
	background:#1d1d1d;
	color:#CCC;
	box-sizing: border-box;
	width:100%;
	border:none;
	outline:none;
	padding-top:5%;
	padding-bottom:5%;
	text-indent:5%;

}

section#chatContent {
	float:right;
	width:78%;
	height:100%;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}


#fluidContainer {
	height:100%;
}

section#left_sidebar img#bigIcon {
	width:100%;
}

section#left_sidebar img#smallIcon {
	width:30%;
	margin: -15% 0% 5% 35%;
}

section#left_sidebar i#username {
	color:#FFF;
	position:absolute;
	margin-top:-50%;
	z-index:1;
	width:100%;
	display:block;
	text-align:center;
	font-size:1.2em;
}

section#left_sidebar i#toggleSidebar {
	position:absolute;
	color:#FFF;
	top:2%;
	width:100%;
	cursor:pointer;
	text-align:center;
}

.circular {
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

section#left_sidebar ul {
	list-style-type:none;
	padding-left: 0px;
}

section#left_sidebar li {
	width:100%;
	padding-top:5%;
	padding-bottom:5%;
	padding-left:5%;
}

section#left_sidebar li.active {
	background:#1d1d1d;
}

section#left_sidebar li.active a {
	color: #da532c;
}

section#left_sidebar ul li a {
	color:#ecf0f1;
	display:inline-block;
	width:60%;
	text-align:left;
	text-indent:3%;
	text-decoration:none;
}

section#left_sidebar ul li a:before {
	padding-right:7%;
	color:grey;
}

section#left_sidebar ul li a.fa-circle:before {
	color:greenyellow;
}

section#left_sidebar ul li span.delete {
	color:#FFF;
	float:right;
	margin-right:7%;
	line-height:160%;
	cursor:pointer;
}

section#left_sidebar div.addWrapper {
	text-indent:0%;
	width:100%;
	position:relative;
}

section#left_sidebar i.addLoader {
	float:right;
	text-indent:0%;
	color:#FFF;
	position:absolute;
	left:85%;
	top:29%;
}

#login {
    padding-top: 10em;
	width:70%;
}

#url {
	margin-bottom:2%;
}


.contacts td {
    //TODO styling
    background-color: blue;
}

#notifyBox {
	position:fixed;
	width:70%;
	padding:3%;
	bottom:0%;
	background:#1d1d1d;
	color:#FFF;
	-webkit-transition: opacity 0.5s ease-in;
	-moz-transition: opacity 0.5s ease-in;
	-ms-transition: opacity 0.5s ease-in;
	-o-transition: opacity 0.5s ease-in;
	transition: opacity 0.5s ease-in;
	font-size:0.8em;
}

.inactive {
	opacity:0;
	z-index:1;
}

.notifyActive {
	opacity:1;
	z-index:3;
}


