@import "colors.less";

body, html {
    padding: 0;
    margin: 0;
    height:100%;
    width:100%;
}

body {
	height:100%;
	width:100%;
}

.clear {
	clear:both;
}

div.page-header {
	padding-left:5%;
	
}

#content, .wrapper {
    min-height: 100%;
    min-width: 100%;
	height:100%;
	width:100%;
}

.login {
    background-color: @cape-honey;
    padding: 2.5em;
    border-radius: 0.5em;
}


#videos video {
	float:left;
	width:65%;
}

#videos input {
	margin-bottom:2%;
	outline:none;
	position:fixed;
	bottom:0%;
	left:24%;
	z-index:1;
}

 video#localVideo {
	width:20%;
	position:fixed;
	bottom:5%;
	right:5%;
}

 div#login_wrapper {
	 width:100%;
	 height:100%;
	 background:url("../img/login_bg.png") no-repeat;
	 background-size:cover;
 }

section#left_sidebar {
	width:20%;
	display:block;
	float:left;
	min-height:100%;
	height:100%;
	position:fixed;
	background: #34495e;
	text-indent:5%;


}

section#left_sidebar h1 {
	color:#FFF;
	font-size:1.1em;
	background:#2c3e50;
	padding-top:7%;
	padding-bottom:7%;
}


section#left_sidebar a#logout {
	text-indent:0%;
	width:100%;
	position:absolute;
	border-radius:0;
	bottom:0%;
	padding-top:5%;
	padding-bottom:5%;

}

section#left_sidebar input#newContact {
	background:#3E4651;
	color:#CCC;
	box-sizing: border-box;
	width:100%;
	border:none;
	outline:none;
	padding-top:5%;
	padding-bottom:5%;
	text-indent:5%;
	margin-top:10%;
}

section#chatContent {
	float:right;
	width:78%;
	padding-left:2%;
}

section#left_sidebar ul {
	list-style-type:none;
	padding-left: 0px;
}

section#left_sidebar li {
	width:100%;
	padding-top:5%;
	padding-bottom:5%;
	padding-left:5%;
}

section#left_sidebar li.active {
	background:#2c3e50;
}

section#left_sidebar ul li a {
	color:#ecf0f1;
	display:inline-block;
	width:60%;
	text-align:left;
	text-indent:3%;
	text-decoration:none;
}

section#left_sidebar ul li a:before {
	padding-right:7%;
}

section#left_sidebar ul li a.fa-circle:before {
	color:greenyellow;
}

section#left_sidebar ul li span.delete {
	color:#FFF;
	float:right;
	margin-right:7%;
	line-height:160%;
	cursor:pointer;
}

#login {
    padding-top: 10em;
	width:70%;
}

#url {
	margin-bottom:2%;
}


.contacts td {
    //TODO styling
    background-color: blue;
}

#notifyBox {
	position:fixed;
	z-index:1;
	right:5%;
	padding:3%;
	top:5%;
	background:#34495e;
	color:#FFF;
	border-radius:10px;
	-webkit-transition: opacity 1s ease-in;
	-moz-transition: opacity 1s ease-in;
	-ms-transition: opacity 1s ease-in;
	-o-transition: opacity 1s ease-in;
	transition: opacity 1s ease-in;
	font-size:0.8em;
}

.inactive {
	opacity:0;
}

.notifyActive {
	opacity:1;
}


