
@messageFieldHeight: 8em;
@messageFieldSendButtonWidth: 3em;


.txtChat {
    height: 100%;
    width: 100%;
}

/* Chat wrapper */
.chatWrapper {
    width: 98%;
    overflow-y: scroll;
    position: absolute;
    padding: 2em;
    height: ~"calc(100% - " @messageFieldHeight  ~")";
    padding-top: 3%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.main-page {
    max-height: 100%;
}

.chatWrapper .answerMsg, .chatWrapper .ownMessage {
  width: 100%;
  margin-bottom:4%;
}


.chatWrapper .answerMsg img {
  width: 3%;
}

.chatWrapper .answerMsg p, .chatWrapper .ownMessage p {
  background: #E1FAFC;
  padding: 1%;
  display: inline;
  border-radius: 1em;;
  margin-left: 2%;
}

.chatWrapper .ownMessage {
  text-align: right;
}

.chatWrapper .ownMessage p{
  background: #E7E7E7;
  margin-right: 2%;
}

.messageField {
  position: absolute;
  width: 78%;
  bottom: 2%;
  padding: 0.3em;
  right: 11%;
  -webkit-transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
  height: ~"calc(" @messageFieldHeight ~" - 2%)";
}

.messageField textarea {
  padding: 1%;
  resize: none;
  width: ~"calc( 100% - " @messageFieldSendButtonWidth ~" - 1em)";
  border: 1px solid #E7E7E7;
  border-radius: 5px;
  color: #60646D;
  height: 100%;
}

.messageField button.sendButton {
    width: @messageFieldSendButtonWidth;
    height: @messageFieldSendButtonWidth;
    position: absolute;
    right: 0;
    top: ~"calc( 50% - " @messageFieldSendButtonWidth / 2 ~")";
    border: none;
    border-radius: 100%;
    background-color: orange;
}

.txtChat .error-indicator {
    position: absolute;
    left: -0.5em;
    top: 0.6em;
}
